<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Some properties -->
  <xacro:include filename="$(find curt_mini)/models/curt_mini/properties.xacro" />

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(arg gazebo_controllers)</parameters>
    </plugin>
  </gazebo>

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="front_left_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="back_left_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="back_right_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- IMU -->
  <gazebo reference="imu_link">
    <sensor name="br_imu" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
      <plugin name="bytes_imu" filename="libgazebo_ros_imu_sensor.so">
        <ros>
          <namespace>imu</namespace>
          <remapping>~/out:=data</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
    </sensor>
  </gazebo>

  <!-- GPS -->
  <gazebo reference="gps_link">
    <sensor name="gps_sensor" type="gps">
      <always_on>true</always_on>
      <update_rate>1.0</update_rate>
      <plugin name="gps_controller" filename="libgazebo_ros_gps_sensor.so">
        <ros>
          <!-- <namespace>/br</namespace> -->
          <remapping>gps_controller/out:=gps</remapping>
        </ros>
        <frame_name>gps_link</frame_name>
      </plugin>
    </sensor>
    <material>Gazebo/Grey</material>
  </gazebo>

</robot>