<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Package to load velodyne sensor -->
  <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />

  <!-- Some properties -->
  <xacro:include filename="$(find curt_mini)/models/curt_mini/properties.xacro" />

  <!-- IMU -->
  <joint name="base_link_to_imu" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0.0 0.0 0.0" />
  </joint>
  <link name="imu_link" />

  <!-- GPS -->
  <joint name="base_link_to_gps" type="fixed">
    <parent link="base_link" />
    <child link="gps_link" />
    <origin xyz="-0.14 0.0 0.34" />
  </joint>
  <link name="gps_link" />

  <!-- Camera -->
  <joint name="base_link_to_camera" type="fixed">
    <parent link="base_link" />
    <child link="camera_link" />
    <origin xyz="0.0 0.0 0.7" rpy="${-PI / 2 - PI / 6} 0.0 ${-PI / 2}" />
  </joint>
  <link name="camera_link" >
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0 0 0" />
      <geometry>
          <box size="0.10 0.05 0.05" />
      </geometry>
      <material name="grey" />
  </visual>
  </link>

  <!-- <xacro:macro name="VLP-16" params="*origin parent:=base_link name:=velodyne tf_prefix:='' topic:=/velodyne_points organize_cloud:=false hz:=10 lasers:=16 samples:=1875 collision_range:=0.3 min_range:=0.9 max_range:=130.0 noise:=0.008 min_angle:=-${M_PI} max_angle:=${M_PI} gpu:=false"> -->

  <!-- Velodyne -->
  <xacro:VLP-16 parent="base_link" name="velodyne" min_range="0.1" topic="/lidar_points" organize_cloud="false" hz="10" samples="440" gpu="false">
    <origin xyz="0.175 0.0 0.31" rpy="0 ${PI / 12} 0" />
  </xacro:VLP-16>

</robot>