<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Some properties -->
  <xacro:include filename="$(find curt_mini)/models/curt_mini/properties.xacro" />

  <gazebo reference="base_link">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="front_left_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="front_right_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="back_left_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="back_right_wheel">
    <xacro:wheel_ode_params />
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- IMU -->
  <gazebo reference="imu_link">
    <sensor name="br_imu" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <imu>
        <angular_velocity>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>2e-4</stddev>
            </noise>
          </z>
        </angular_velocity>
        <linear_acceleration>
          <x>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.0</mean>
              <stddev>1.7e-2</stddev>
            </noise>
          </z>
        </linear_acceleration>
      </imu>
      <plugin name="bytes_imu" filename="libgazebo_ros_imu_sensor.so">
        <ros>
          <namespace>imu</namespace>
          <remapping>~/out:=data</remapping>
        </ros>
        <initial_orientation_as_reference>false</initial_orientation_as_reference>
      </plugin>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin filename="gz-sim-pose-publisher-system" name="gz::sim::systems::PosePublisher">
      <use_pose_vector_msg>true</use_pose_vector_msg>
      <publish_nested_model_pose>true</publish_nested_model_pose>
      <publish_model_pose>true</publish_model_pose>
      <publish_link_pose>true</publish_link_pose>
      <update_frequency>20</update_frequency>
    </plugin>
  </gazebo>
  
</robot>